- name: Initialize control plane
  command: >
    kubeadm init
    --apiserver-advertise-address=192.168.56.10
    --pod-network-cidr=192.168.0.0/16
  args:
    creates: /etc/kubernetes/admin.conf

- name: Create .kube directory
  file:
    path: /home/vagrant/.kube
    state: directory
    owner: vagrant
    group: vagrant

- name: Copy admin.conf to vagrant home
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/vagrant/.kube/config
    remote_src: yes
    owner: vagrant
    group: vagrant
    mode: '0600'

- name: Wait for API server to be reachable
  become_user: vagrant
  shell: kubectl get nodes
  register: kubectl_ready
  retries: 15
  delay: 10
  until: kubectl_ready.rc == 0

- name: Install Calico
  become_user: vagrant
  shell: |
    kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.27.3/manifests/calico.yaml
